@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --primary-color: rgb(22, 113, 119);
    --primary-color-darker: rgb(18, 89, 94);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.5em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.grupo {
    flex-basis: 100%;
    line-height: 1em; 
}

.item1 p,
.item2 p {
    margin: 5px 0; 
}


form label, form input, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    height: 50px;
}

form button:hover {
    background: var(--primary-color-darker);
}
